body{
  margin: 0;
  padding: 0;
 
}

.container {
  height: 100vh;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
  background: url(backg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.logo{
  width: 180px;
  cursor: pointer;
  padding-right: 20px;
  padding-bottom: 3%;
}
.cart{
  width: 40px;
  cursor: pointer;
  padding-left: 30%;
}
.nav{
flex: 1;
padding: 60px;
}

nav ul li {

  display: inline-block;
  list-style: none;
  margin: 0px 20px;
 

}

nav ul li a {

text-decoration: none;
color:#6a7199;
font-size: large;

}

.content  h1 {
   font-size: 60px ;
   font-weight: 100%;
   margin-top: 24px;
   margin-bottom: 15px;
   
}

.content  h1 {
  font-size: 20px ;
  color: #6a7199;

}

.content   {

  margin-top: 10%;
  margin-left: 10%;
  
}
.content  p {
color:#232d60;
font-size: medium;

}

.content .btn{
  display: inline-block;
background:linear-gradient(45deg ,#87adfe , #e297c6 , #a8f0d2) ;
border-radius: 6px;
padding: 10px 20px;
box-sizing: border-box;
text-decoration: none;
color: #fff;
box-shadow: 3px 8px 22px rgba(94,28,68,0.15);

}

.arrow{
  margin-top: 40px;
  display: flex;
}

.arrow img {
width: 40px;
margin-right: 25px;
}

.feature-img{
  height: 90%;
  position: absolute;
  bottom: 70px;
  left: 570px;

}

.social-contact{

  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  bottom: 180px;

}

.social-contact a {
  text-decoration: none;
  color: #6a7199;
  padding-right: 20px;
  font-size: 14px;
}
